<div class="screen screen--1 headerBanner">
    <div class="container">
        <div class="logo">
            <img src="img/logo-villageClub.png" alt="" />
        </div>
        <div class="frameTitle">
            <div class="title__special">{{trad.screen1.titleSpecial}}</div>
            <div class="borderLeft"></div>
            <div class="borderRight"></div>
            <div class="frameText">
                <div class="title__classic plus">{{trad.screen1.txt1}}</div>
                <div class="title__primary plus">{{trad.screen1.txt2}}</div>
                <div class="title__classic normal">{{trad.screen1.txt3}}</div>
                <div class="title__number">{{trad.screen1.txt4}}</div>
                <div class="text__small-caps">{{trad.screen1.txt5}}</div>
                <div class="borderLeft"></div>
                <div class="borderRight"></div>
            </div>
            <div class="chevron-down-round"><span class="icon-right-arrows-couple"></span></div>
        </div>
    </div>
</div>

<div class="screen screen--2 deuxAlpes">
    <div class="container">
        <div class="group-title">
            <h2 class="title__primary">{{trad.screen2.groupTitle.h2}}</h2>
            <h3 class="title__secondary">{{trad.screen2.groupTitle.h3}}</h3>
            <p>{{trad.screen2.groupTitle.paraph}}</p>
        </div>
    </div>
    <div class="slider__deuxAlpes">
        {% for slide in trad.slider2Alpes %}
            <div class="slider__item block-image-style2" style="background-image: url(../img/bg2Alpes/{{ loop.index }}.jpg)">
                <img src="img/bg2Alpes/{{ loop.index }}.jpg" alt="" />
                <div class="frame-text container">
                    <strong>{{ slide.text}}</strong>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="screen screen--3 notreVillage">
    <div class="container">
        <div class="group-title">
            <h2 class="title__primary">{{trad.screen3.groupTitle.h2}}</h2>
            <h3 class="title__secondary">{{trad.screen3.groupTitle.h3}}</h3>
            <p>{{trad.screen3.groupTitle.paraph}}</p>
        </div>

        <div class="group-bloc-image responsive">
            {% for village in trad.notreVillage %}
                <div class="block-image-style2">
                    <img src="img/village/{{ loop.index }}.jpg" alt="" />
                    <div class="frame-text">
                        <strong>{{village.text}}</strong>
                    </div>
                </div>
            {% endfor %}  
        </div>
    </div>
</div>

<div class="screen screen--4 votreOffre">
    <div class="container">
        <div class="group-title">
            <h2 class="title__primary">{{trad.screen4.groupTitle.h2}}</h2>
            <h3 class="title__secondary">{{trad.screen4.groupTitle.h3}}</h3>
        </div>
        <div class="group-icons">
            {% for offre in trad.votreOffre %}
                <div class="icons-and-text">
                    <div class="picto-icon"><img src="img/pictos/{{ loop.index }}.png" alt=""></div>
                    <span>{{ offre.text }}</span>
                </div>
            {% endfor %} 
        </div>
    </div>
</div>

<div class="screen screen--5 nosDestinations">
    <div class="container">
        <div class="group-title">
            <h2 class="title__primary">{{trad.screen5.groupTitle.h2}}</h2>
            <h3 class="title__secondary">{{trad.screen5.groupTitle.h3}}</h3>
        </div>
        <div class="group-list">
            {% for block in trad.blocks %}
            <div class="list-item">
                <h4 class="title__special">{{ block.title }}</h4>
                <ul class="list-design">
                    {% for item in block.list %}
                    <li><span>{{item}}</span></li>
                    {% endfor %} 
                </ul>
            </div>
            {% endfor %} 
        </div>
        <div class="group-img-list">
            <div class="slider__destinations">
                {% for slide in trad.sliderDestinations %}
                    <div class="block-image-style1">
                        <h3 class="title__special">{{ slide.title }}</h4>
                        <img src="img/destinations/{{ slide.img }}.jpg" alt="{{ slide.img }}" />
                        <h4 class="title__classic">{{ slide.subtitle }}</h4>
                    </div>
                {% endfor %} 
            </div>
        </div>
    </div>
</div>

{% include "../block/marketing.html.twig" %}

<div class="mentions">
    <div class="container">
        <p class="text__small">
            {{trad.mentions}}
        </p>
    </div>
</div>