<div class="fixable">
    <div class="marketing js-waypoint-wrapper">
        <div class="marketing__wrapper js-waypoint-content">
            <div class="marketing__inner">
                <div class="marketing__txt">
                    <span class="marketing__txt--1">{{ trad.marketing.txt1 }}</span>
                    <span class="marketing__txt--2">{{ trad.marketing.txt2 }}</span>
                    <span class="marketing__txt--3">{{ trad.marketing.txt3 }}</span> 
                    <span class="marketing__txt--4">{{ trad.marketing.codepromo }}</span>
                    <a target="_blank" href="{{ trad.links.generic }}" class="marketing__cta btn event" data-event="TagEvent::Exit" data-label="Je profite">{{ trad.marketing.cta }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
